ops >= 1.2.0
git+https://opendev.org/openstack/charm-ops-openstack#egg=ops_openstack
git+https://opendev.org/openstack/charm-interface-hacluster#egg=interface_hacluster
git+https://opendev.org/openstack/charm-ops-interface-openstack-loadbalancer#egg=interface_openstack_loadbalancer
